.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  border-radius: 25px;
}

input::-webkit-input-placeholder {
  font: 0.8rem sans-serif;
}

input::-moz-placeholder {
  font: 0.8rem sans-serif;
}

input:-ms-input-placeholder {
  font: 0.8rem sans-serif;
}

input::-ms-input-placeholder {
  font: 0.8rem sans-serif;
}

input::placeholder {
  font: 0.8rem sans-serif;
}

/* .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
} */

/* .calendar .container {
  width: 100%;
  max-width: 100%;
} */
