@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Rosarivo", system-ui, sans-serif;
  }
  p {
    font-family: "Caveat", cursive;
  }

  html,
  body {
    scrollbar-color: #2b88d9 #ffffff;
    scrollbar-width: auto;
  }

  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: #2b88d9;
  }

  /* ползунок скроллбара */
  ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
  }
}
